*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{

    /* display: grid;
    grid-gap: 1em;
    grid-template-rows: auto;
    grid-template-columns: auto; */
    /* display: grid; */
}

.container{
    /* grid-gap: 1em;
    grid-template-columns:12en 1fr;
    grid-template-rows: auto 1fr auto; */
    display: flex;
    
    /* max-width: 1; */
}
/*Side nav starts here*/
.title{
    padding: 10px;
}
nav{
    /* grid-row: span 2; */
    background-color: #000;
    color:#fff;
    /* width: 15%; */
    padding: 10px 10px 10px 0;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
}
.nav-links {
    padding: 10px 10px 10px 0;
    height: 80vh;
}
.nav-links .link{
    margin:  4px 10px 4px 1px;
    padding: 10px;
    /* width: 100%; */
}
.link a{
    text-decoration: none;
    color: #8a8a8a;
    padding: 5px;
    text-wrap: nowrap;
    margin-right: 5px;
}
.link:hover, a:hover{
    background-color: #f8f5f0;
    color: #000;
    border-radius:0 8px 8px 0;
    cursor: pointer;
}
.link:hover{
    border-left: 4px solid green;
    color: #000;
}
.max-menu{
    padding: 5px;
}
/*side nav ends here*/

main{
    /* grid-column: span 2; */
    padding: 10px;
    width: 100%;
    background-color: #f8f5f0;
}

/*Overview starts here*/
.ov-overview{
    position: relative;
    top: 0;
    left: 2.8%;
    padding: 7px;
    max-width: 94%;
}

.overview{
    padding: 5px;
    display: flex;
    margin: 5px;
    justify-content: space-evenly;
}

.overview .amount{
    margin: 5px 10px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}
.amount.bal{
    background-color: #000;
    color: #fff;
    /* padding: 5px; */
}
.amount p{
    color: #8a8a8a;
    font-size: 12px;
    padding: 5px;
    margin: 5px 0;
}
/*Overview ends here*/
.section{
    display: flex;
    padding: 10px;
    border: 1px solid;
    margin: 10px;
    width: 100%;
}
.inner-section1{
    padding: 10px;
    /* width:100% */
}
/*pots starts here*/
.pots{
    border-radius: 15px;
    margin: 10px ;
    padding: 10px;
    background-color: #fff;
    
}
.pots-heading{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.heading p{
    font-size: 12px;
    color: #6c6b6b;
}

.blocks{
    padding: 1px;
    display: flex;
    justify-content: space-between;

}
.block1{
    background-color: #f8f5f0;
    display: flex;
    padding: 0 20px 0 5px;
    border-radius: 15px;
    margin:  18px;
    /* width: 50%; */
}
.t-saved{
    padding: 5px 10px;
    margin: 2px;
    /* display: inline; */
    align-self: center;
    /* border: 1px solid; */
}
.t-saved p{
    font-size: 10px;
    padding: 5px;
    margin: 0;
    text-wrap: nowrap;
}
.t-saved.text{
    /* border: 1px solid; */
    margin: 2px 10px 2px 4px;
}
.t-saved.text p{
    padding: 2px;
}

.block2{
    display: flex;
    padding: 10px;
}
.save-box{
    margin: 2px;
}
.save-box-savings, .save-box-ticket, .save-box-gift, .save-box-laptop{
    margin: 10px;
    padding: 0 10px 0 8px;
    border-radius: 5px;
}
.save-box-savings{
    border-left: 5px solid rgb(1, 63, 1);
}
.save-box-ticket{
    border-left: 5px solid rgb(0, 182, 195);
}
.save-box-gift{
    border-left: 5px solid rgb(59, 0, 78);
}
.save-box-laptop{
    border-left: 5px solid rgb(220, 163, 144);
}

.save-box p{
    /* border: 1px solid; */
    padding: 2px;
    margin: 5px 10px 5px 0;
    text-wrap: nowrap;
}
.inner-save-box{
    padding: 0 15px 0 2px;
    margin: 0 2px;
}
.save-box p{
    font-size: 10px;
    color: #6c6b6b;
    margin: 2px 0;
    padding: 2px 0;
}


/* pots ends here*/

/* transaction starts here*/
.transaction{
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}
.trans-heading{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.trans-list{
    margin: 10px;
}
.each-trans{
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.trans-profile{
    display: flex;
    padding: 2px;
}
.trans-avatar{
    margin: 2px;
}
.trans-avatar img{
    width: 3vw;
    height: 6vh;
    margin: auto;
    border-radius: 90%;
}
.avatar-name{
    margin: 2px;
    align-self: center;
    font-size: 12px;
    font-weight: 600;
}
.credit{
    color: rgb(2, 179, 188);
}

.date{
    font-size: 10px;
    letter-spacing: 0.5px;
}

/*transaction ends here*/

.inner-section2{
    padding: 5px;
    width: 100%;
}

/*budget starts here*/
.budget{
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}
.budget-heading{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.heading{
    padding: 5px;
    margin: 5px;
}
.budget-chart-list{
    display: flex;
}
.each-budget-list{
    border-left: 4px solid;
    padding: 5px;
    margin: 5px;
}
.each-budget{
    padding: 5px;
    margin: 5px;
}
.each-budget p{
    font-size: 10px;
    color: #8a8a8a;
    /* margin: 5px; */
}

/*budget ends here*/

/*R-bills starts here*/
.R-bills{
    background-color: #fff;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}
.R-bill-heading{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 2px;
}
.R-bill-list{
    padding: 5px;
    margin: 5px;
    
}
.each-R-bill{
    border-left: 4px solid;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f5f0;
    margin: 5px;
}
.R-bill-p{
    padding: 5px;

}
.R-bill-h5{
    padding: 5px;
}

.green{
    border-color: rgb(1, 63, 1);
}
.blue{
    border-color: rgb(0, 182, 195);
}
.purple{
    border-color: rgb(59, 0, 78);
}
.pink{
    border-color: rgb(220, 163, 144);
}