@font-face {
    font-family: 'staple-font';
    src: url(./stapleFont/Stapel_Bold.otf);
}
@font-face {
    font-family: 'roboto-font';
    src: url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

body{
    overflow-x: hidden;
}

.container{    
    width: 100%;
    display: flex;
}
/*Side nav starts here*/
.title{
    padding: 10px;
    font-family: 'staple-font';
    font-weight: 800;
}
nav{
    background-color: #000;
    color:#fff;
    padding: 10px 0px ;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-right: 2px;
}
.nav-links {
    padding: 10px 5px 10px 0;
    height: 85vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
}

.nav-links .link{
    margin:  4px 10px 4px 1px;
    padding: 5px;
    color: #8a8a8a;
}

.link a{
    text-decoration: none;
    color: #8a8a8a;
    padding: 5px;
    text-wrap: nowrap;
    margin-right: 5px;
}
.link:hover, a:hover{
    background-color: #f8f5f0;
    color: #000;
    border-radius:0 8px 8px 0;
    cursor: pointer;
}
.link:hover{
    border-left: 4px solid green;
    color: #000;
}
.ovv-nav{
    display: flex;
    align-items: center;
    font-size: 0.9em;
}
.trans-nav{
    display: flex;
    align-items: center;
    font-size: 0.9em;
}
.budget-nav{
    display: flex;
    align-items: center;
    font-size: 0.9em;
}
.budget-nav p{
    padding: 2px;
}
.pot{
    display: flex;
    align-items: center;
    font-size: 0.9em;
}
.RecB{
    display: flex;
    align-items: center;
    /* padding: 10px; */
    margin: 0;
    font-size: 0.9em;
}
.RecB span{
    font-size: 1.5em;
}
.RecB p{
    padding: 2px;
}
.min-menu{
    align-items: center;
    display: flex;
    padding: 5px;
    color: #8a8a8a;
    font-size: 0.9em;
}
.min-menu p{
    padding: 2px;
}
.min-menu span{
    font-size: 1.2em;
}
/*side nav ends here*/
/* @media screen and (min-width:990px) {
    main {
        transform: translateX(190px);
    }

    nav{
        position: fixed;
        left: 0;
        top: 0;
    }
} */

main{
    padding: 5px;
    background-color: #f8f5f0;
    width: 100%;
    /* overflow-y: scroll; */
}

/*Overview starts here*/
.ov-overview{
    position: relative;
    top: 0;
    left: 2.8%;
    padding: 1vh;
    font-size: 1.5em;
}

.overview{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
    justify-content: space-evenly;
}

.overview .amount{
    margin: 5px 10px;
    flex: 1 1 300px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}
.amount.bal{
    background-color: #000;
    color: #fff;
}
.amount p{
    color: #8a8a8a;
    font-size: 11px;
    padding: 5px;
    margin: 5px 0;
}
/*Overview ends here*/
.section{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}
.inner-section1{
    padding: 5px;
    flex: 1 1 300px;
}
/*pots starts here*/
.pots{
    border-radius: 15px;
    margin: 10px 5px;
    padding: 5px;
    background-color: #fff;
}
.pots-heading{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.heading p{
    font-size: 10px;
    color: #6c6b6b;
}
.heading h3{
    font-size: 1em;
}

.blocks{
    padding: 1px;
    margin:  5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.block1{
    flex: 1 1 80px;
    background-color: #f8f5f0;
    display: flex;
    border-radius: 15px;
    margin: 10px 4px;
}
.t-saved{
    padding: 5px 10px;
    margin: 2px;
    align-self: center;
}
.t-saved p{
    font-size: 11px;
    padding: px;
    margin: 8px 0;
    text-wrap: nowrap;
}
.t-saved.text{
    margin: 2px 10px 2px 4px;
}
.t-saved.text p{
    padding: 2px;
}
.t-saved span{
    font-size: 3em;
    color: rgb(1, 63, 1);
}


.block2{
    flex: 1 1 200px;
    padding: 5px;
    justify-content: space-evenly;
    display: flex;
}
.save-box{
    margin: 2px;
}
.save-box-savings, .save-box-ticket, .save-box-gift, .save-box-laptop{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.save-box-savings{
    border-left: 5px solid rgb(1, 63, 1);
}
.save-box-ticket{
    border-left: 5px solid rgb(0, 182, 195);
}
.save-box-gift{
    border-left: 5px solid rgb(59, 0, 78);
}
.save-box-laptop{
    border-left: 5px solid rgb(220, 163, 144);
}

.save-box p{
    padding: 2px;
    margin: 5px;
    text-wrap: nowrap;
}
.inner-save-box{
    padding: 3px;
    margin: 2px;
    /* border: 1px solid; */
}
.save-box p{
    font-size: 10px;
    color: #6c6b6b;
    margin: 2px 0;
    padding: 2px 0;
}


/* pots ends here*/

/* transaction starts here*/
.transaction{
    margin: 10px 5px ;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
}
.trans-heading{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.trans-list{
    margin: 5px;
    padding: 2px;
}
.each-trans{
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f8f5f0;
}
.trans-profile{
    display: flex;
    padding: 2px;
}
.trans-avatar{
    margin: 2px;
}
.trans-avatar img{
    min-width: 2vw;
    height: 4vh;
    margin: auto;
    border-radius: 90%;
}
.avatar-name{
    margin: 2px;
    align-self: center;
    font-size: 12px;
    font-weight: 600;
}
.credit{
    color: rgb(2, 179, 188);
}
.amountdate{
    text-align: center;
    align-content: center;
    justify-content: center;
}
.date{
    font-size: 10px;
    letter-spacing: 0.5px;
}

p i{
    font-size: 0.8em;
    cursor: pointer;
}
/*transaction ends here*/

.inner-section2{
    padding: 5px;
    flex: 1 1 300px;
}

/*budget starts here*/
.budget{
    margin: 10px 5px;
    background-color: #fff;
    border-radius: 12px;
    padding: 5px;
}
.budget-heading{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin: 5px 5px 2px 5px;
}
.heading{
    padding: 2px;
}
.budget-chart-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
.chart canvas{
    padding: 2px;
}
.budget-list{
    padding: 0 2px;
}
.each-budget-list{
    border-left: 4px solid;
    padding: 5px;
    margin: 5px;
}
.each-budget{
    padding: 2px;
    margin: 2px;
}
.each-budget p{
    font-size: 10px;
    color: #8a8a8a;
}
/*budget ends here*/

/*R-bills starts here*/
.R-bills{
    background-color: #fff;
    border-radius: 10px;
    margin: 10px 5px 2px 5px;
    padding: 5px;
}
.R-bill-heading{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 2px;
}
.R-bill-list{
    padding: 5px;
    margin: 5px;
    
}
.each-R-bill{
    border-left: 4px solid;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f5f0;
    margin: 5px;
}
.R-bill-p{
    padding: 5px;

}
.R-bill-h5{
    padding: 5px;
}

.green{
    border-color: rgb(1, 63, 1);
}
.blue{
    border-color: rgb(0, 182, 195);
}
.purple{
    border-color: rgb(59, 0, 78);
}
.pink{
    border-color: rgb(220, 163, 144);
}


@media only screen and (max-width:600px){
    html,body{
        overflow-x: hidden;
    }
    .title{
        display: none;
    }
    main{
        /* overflow-y: scroll; */
        z-index: -1;
    }
    nav{
        /* display: none; */
        width: 100vw;
        height: 6vh;
        flex-direction: row;
        margin-right: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        border-radius: 10px 10px 0 0 ;
        padding-left: 50px;
    }
    .nav-links{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        max-width: 100%;
        margin-left: 30px;
    }
    .min-menu{
        display: none;
    }
    .link{
        margin: 0;
        padding: 0;
    }
    .budget-nav{
        padding: 5px 0;
    }

    .link p{
        display: none;
    }


    .R-bills{
        margin-bottom: 60px;
    }

}
